<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Linus Spel is a game website. Here you can play games made by Linus.">
  <title>Linus Spel</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <nav class="header-nav">
      <h1>
        <a href="/">Linus Spel</a>
      </h1>
      <form class="search-form" action="search">
        <button type="submit">
          <img src="img/search.png" alt="search">
        </button>
        <input type="text" placeholder="Search" name="search">
      </form>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <% if user? %>
        <a href="/user">Profile</a>
      <% end %>
    </nav>
  </header>

  <%# Sinatra Flash för felmeddelanden %>
  <% if flash[:notice] %>
    <p class="notice">
      <%= flash[:notice] %>
    </p>
  <% end %>

  <%= yield %>

  <footer>
    <p>© 2023 Linus</p>
  </footer>
</body>
