.game-icon-buttons {
    width: 35px;
    height: 35px;
}

.game-tags {
    padding: 3px;
    border-radius: 100px;
    background-color: lightgray;
    height: 20px;
}

.notice {
 background:rgba(100,100,100,0.1);
 padding:20px;
 position:absolute;
 top:0;
 right:0;
 font-size:1rem;
 font-family:Arial, Helvetica, sans-serif;
}

