<%# Check for admin priveleges %>
<% raise 'You\'re not alllowed to be here.' if !admin? %>

<form action="/admin/tags" method="post"> 
    <input type="text" name="name" placeholder="Tag name">
    <select name="purpose_id">
        <% tag_purposes.each do |purpose| %>
            <option value=<%= purpose['id'] %> <%= purpose['id'] == 1 ? "selected" : "" %>>
                <%= purpose['name'] %>
            </option>
        <% end %>
    </select>
    <input type="submit" value="Create tag">
</form>
