<div class="game-tags">
  <%# Let regex för stil poäng. wink wink %>
  <% if tag['purpose'] == 'iframe_size' %>
    <b><%= tag['name'].scan(/\d+/).join('x') %></b>
  <% else %>
    <b><%= tag['name'] %></b>
  <% end %>
  <i><%= tag['purpose'] %></i>
</div>
