<% @games.each do |game| %>
  <a href=<%= game['url'] %>><%= game %></a>
  <a href=<%= "/admin/games/#{game['id']}/edit" %>>edit</a>
  <form action="/admin/games/<%= game['id'] %>/delete" method="post">
    <input type="submit" value="Delete game">
  </form>
<% end %>
