// Spela ett spel. Tillgänglig för alla
- url = ""
- resolution_string = {width:"100%", height:"100%"}
- if game_url != nil
    - url = game_url
- if foreign_url != nil
    - url = foreign_url
    p this is a foreign url, being embeded. Note to self: Add a link to the right foreign website, do not have it on your own website.
- if resolution[:width] != nil
    - resolution_string[:width] = resolution[:width]
- if resolution[:height] != nil
    - resolution_string[:height] = resolution[:height]
- resolution_string = "width: #{resolution_string[:width]}; height: #{resolution_string[:height]};"
iframe src=url style=resolution_string frameborder="0" allow="gamepad *;"

// Ge alla spel i databasen 100% som default
// Strunta i nil checking.
// Ändra länk sakerna till en separat table?

// Gör det tydligt för användaren att länken är från en annan hemsida. En knapp för att gå in på embeded till exempel.