<%# Check for user priveleges %>
<% raise 'You\'re not alllowed to be here.' if !user? %>

<form action="/user/username/edit" method="post"> <%# purposeful deviation from restful routes %>
  <input type="text" name="username" value=<%= username(session[:user_id]) %>>
  <input type="submit" value="Change username">
</form>

<form action="/user/password/edit" method="post"> <%# purposeful deviation from restful routes %>
  <input type="password" name="current_password" placeholder="Current password">
  <input type="password" name="password" placeholder="New password">
  <input type="password" name="repeat_password" placeholder="Enter your new password again">
  <input type="submit" value="Change password">
</form>

<p>
Your password needs at least 8 characters, one capital letter,
one number and at least one special character: #?!@$%^&*-
</p>

<blockquote>
  <form action="/user/delete" method="post">
    <input type="submit" value="Delete user">
  </form>
</blockquote>
