<%# Check for admin priveleges %>
<% raise 'You\'re not alllowed to be here.' if !admin? %>

<% users.each do |user| %>
  <p><%= user %></p>
  <form action="/admin/users/<%= user['id'] %>/delete" method="post">
    <input type="submit" value="Delete user">
  </form>
<% end %>
